<app-header titulo="Checkbox"></app-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox disabled="true" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox checked="true" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="secondary" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="light" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="dark" slot="start"></ion-checkbox>
            <ion-label>Lorem Ipsum</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
